@font-face {
	font-family: gamefont;
	src: url(https://dl.dropboxusercontent.com/s/wlsa82ylmyqm702/bignoodletoo.ttf?dl=0);
}

@font-face {
	font-family: hpammo;
	src: url(https://dl.dropboxusercontent.com/s/wlsa82ylmyqm702/bignoodletoo.ttf?dl=0);
}

:root {
	--accent: rgba(0, 0, 0, 0.75);
	--accent2: rgba(255, 255, 255, 1);
	--accent3: rgb(50,50,50);
	--accent4: rgba(200,200,200, 0.9);
	--block-element: block;
	--show-logo: flex;
	--logo-size: 225px;
	--menu-roundness: 6px;
	--presets-display: inline-block;
	--input: rgb(15, 15, 15);
	--profile-tabs-background-color: rgba(0, 0, 0, 0.12);
	--profile-tabs-selected-highlight-color: rgba(0, 0, 0, 0.7);
	--profile-tabs-selected-hover-color: rgba(0, 0, 0, 0.2);
	--progress-bar-filled: rgb(33, 150, 243);
	--progress-bar-unfilled: rgb(36, 36, 36);
	--health-icon-display: none;
	--ammo-icon-display: none;
	--hud-background-color: rgba(0, 0, 0, 0.2);
	--hud-text-color: rgba(255, 255, 255, 0.7);
	--hud-roundness: 0px;
	--votekick-keys-color: rgb(251, 192, 45);
	--health-bar-roundness: 0px;
	--main-button-color: rgba(49, 202, 236, 0);
	--main-button-hover-color: rgb(255, 255, 255);
	--secondary-button: rgb(54, 54, 54);
	--secondary-button-hover: rgb(0, 0, 0);
	--class-hp-unit-color: rgb(134, 132, 132);
	--class-progress-bar-color: rgb(33, 150, 243);
}

* {
	color: var(--accent3);
}

.progressBarInner {
	background: rgb(243, 33, 33) !important;
}

.imageButton {
	display: var(--block-element) !important;
}

.headerBarRight .verticalSeparator {
	display: none !important;
}

.verticalSeparatorInline {
	display: none;
}

#claimHolder {
	display: var(--block-element) !important;
}

#merchHolder {
	display: var(--block-element) !important;
}

#mapInfo + div {
	display: var(--block-element) !important;
}

#termsInfo {
	background-color: rgba(0,0,0,0);
	border-radius: 0px;
	border-style: solid;
	border-color: white;
	border-width: 3px;
}

#termsInfo::before {
    position: absolute;
    content: 'css by blackbars4x3';
    font-size: 30px;
	transform: translateY(-150px);
    margin-right: 0;
    padding-right: 0;
    color: var(--accent4);
}

.button {
	background-color: var(--main-button-color) !important;
	box-shadow: inset 0 -7px 0 0 var(--accent3) !important;
	color: var(--accent2) !important;
	border-radius: 2.5px !important;
}

.button:hover {
	background-color: var(--main-button-hover-color) !important;
}

.accountButton {
	background-color: var(--secondary-button) !important;
	color: var(--accent2) !important;
	border-radius: 0px !important;
}

.accountButton:hover {
	background-color: var(--secondary-button-hover) !important;
}

.mapLoadButton {
	background-color: var(--secondary-button) !important;
	color: var(--accent2) !important;
	border-radius: 0px !important;
}

.mapLoadButton:hover {
	background-color: var(--secondary-button-hover) !important;
}

.updDisN {
	background-color: var(--secondary-button) !important;
	color: var(--accent2) !important;
	border-radius: 0px !important;
}

.updDisN:hover {
	background-color: var(--secondary-button-hover) !important;
	transform: none;
}

.subPassChg {
	background-color: var(--secondary-button) !important;
	color: var(--accent2) !important;
	border-radius: 0px !important;
}

.subPassChg:hover {
	background-color: var(--secondary-button-hover) !important;
	transform: none;
}

.creatorCodeBtn {
	background-color: var(--secondary-button) !important;
	color: var(--accent2);
	border-radius: 0px !important;
}

.creatorCodeBtn:hover {
	background-color: var(--secondary-button-hover) !important;
	filter: none !important;
}

.redVouchBtn {
	background-color: var(--secondary-button) !important;
	color: var(--accent2) !important;
	border-radius: 0px !important;
}

.creatorCodeBtn:hover {
	background-color: var(--secondary-button-hover) !important;
}

.hostToggle {
	background-color: var(--secondary-button) !important;
	color: var(--accent2) !important;
	border-radius: 0px !important;
}

.hostToggle:hover {
	background-color: var(--secondary-button-hover) !important;
}

.hostPresetBtn {
	background-color: var(--secondary-button) !important;
	color: var(--accent2) !important;
	border-radius: 0px !important;
}

.hostPresetBtn:hover {
	color: var(--accent2) !important;
	background-color: var(--secondary-button-hover) !important;
}

.quickJoin {
	background-color: var(--secondary-button) !important;
	color: var(--accent2) !important;
	border-radius: 0px !important;
}

.quickJoin:hover {
	background-color: var(--secondary-button-hover) !important;
}

.searchBtn {
	background-color: var(--secondary-button) !important;
	color: var(--accent2) !important;
	border-radius: 0px !important;
}

.searchBtn:hover {
	background-color: var(--secondary-button-hover) !important;
	transform: none !important;
	filter: none !important;
}

.joinQueue {
	color: var(--accent2) !important;
	background-color: var(--accent3) !important;
	box-shadow: inset 0 -10px 0 0 var(--accent2) !important;
}

.joinQueue:hover {
	box-shadow: inset 0 -7px 0 0 var(--accent2) !important;
}

.jQR {
	background-color: var(--accent4) !important;
	box-shadow: inset 0 -10px 0 0 var(--accent3) !important;
}

.jQR:hover {
	box-shadow: inset 0 -7px 0 0 var(--accent3) !important;
}

.krSocial {
	display: var(--block-element) !important;
}

#menuLevelIcon {
	display: var(--block-element) !important;
}

.sliderVal {
	color: var(--accent2) !important;
	background: var(--input) !important;
}

.sliderM {
	background-color: var(--accent) !important;
}

.sliderM::-webkit-slider-thumb {
	background-color: var(--input) !important;
}

input:checked+.slider {
	background-color: var(--input) !important;
}

.slider:before {
	background-color: var(--accent2) !important;
}

input:checked+.optCheck {
	background-color: var(--input) !important;
}

.xpBar {
	background-color: rgba(0,0,0,0.1) !important;
}

.xpBarB {
	background-color: var(--progress-bar-filled) !important;
}

.xpBarV {
	color: var(--accent2) !important;
}

.inputGrey2 {
	background: var(--accent2) !important;
	color: var(--accent3) !important;
}

.inputGrey2::placeholder {
	color: var(--accent2) !important;
}

.formInput {
	background: var(--accent2) !important;
}

.formInput::placeholder {
	color: var(--accent2) !important;
}

#passCode {
	background: var(--accent2) !important;
}

#passCode::placeholder {
	color: var(--accent2) !important;
}

#presetSelect {
	background: var(--accent2) !important;
}

#presetSelect::placeholder {
	color: var(--accent2) !important;
}

#customSnameTeam1 {
	background: var(--accent2) !important;
}

#customSnameTeam1::placeholder {
	color: var(--accent2) !important;
}

#customSnameTeam2 {
	background: var(--accent2) !important;
}

#customSnameTeam2::placeholder {
	color: var(--accent2) !important;
}

.sliderM::-webkit-slider-thumb {
	background-color: var(--accent) !important;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	background-color: var(--accent) !important;
}

.webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar-thumb {
	background: var(--accent3) !important;
}

#menuWindow {
	background-color: var(--accent2) !important;
	box-shadow: 0 9px 0 0 var(--accent) !important;
	border-radius: 0px !important;
}

.serverHeader {
	background-color: var(--accent2) !important;
	border-radius: var(--menu-roundness) !important;
}

.settingsHeader {
	background-color: var(--accent2) !important;
	border-radius: var(--menu-roundness) !important;
}

.settingPreset {
	display: var(--presets-display) !important;
}

#timerIcon {
	display: none !important;
}

#challIcon {
	display: none !important;
}

#ammoIcon {
	display: none !important;
}

#timerDisplay {
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.1);
	border-color: white;
	padding-right: 20px;
	border-radius: 0px;
}

a {
	color: var(--accent4);
}

a:visited {
	color: var(--accent4);
}

a:active {
	color: var(--accent4);
}

.chatItem {
	color: var(--accent2) !important;
	background-color: rgba(0, 0, 0, 0) !important;
	transition: width 2s height 2s;
	border-left-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 0px;
	left: 0% !important;
}

#chatInput {
	border-color: white;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.01) !important;
	color: var(--accent2) !important;
	border-radius: 0px;
	border-width: medium;
	left: 0% !important;
	margin: 6 px;
}

.chatMsg[style*='color: #fc03ec'] {
	color: rgba(255,255,255,0.7) !important;
}

.leaderName, .newLeaderName, .newLeaderNameF, .endTableN[style*='color: #eb5656;'] {
	color: rgb(255, 0, 0) !important;
}

.leaderName span, .newLeaderName span, .leaderNameM span, .newLeaderNameM span, .leaderNameF span, .newLeaderNameF span {
	color: var(--accent2) !important;
}

.leaderName span[style*='color:#FBC02D'], .newLeaderName span[style*='color:#FBC02D'], .leaderNameM span[style*='color:#FBC02D'], .newLeaderNameM span[style*='color:#FBC02D'], .newLeaderNameF span[style*='color:#FBC02D'] {
	color: var(--accent4) !important;
}

.leaderNameM, .newLeaderNameM, .endTableN[style*='color: #fff;'] {
	color: rgba(255, 255, 255, 1) !important;
}

.leaderNameF, .newLeaderNameF, .endTableN[style*='color: rgba(255,255,255,0.6);'] {
	color: rgba(255, 255, 255, 0.6) !important;
}

.countIcon, #teamScores, #voteToKick {
	background-color: rgba(0,0,0,0) !important;
	border-style: solid;
	border-color: white;
	border-radius: 0px;
}

#leaderDisplay {
	background-color: rgba(0,0,0,0) !important;
	border-style: double;
	border-color: rgb(255,255,255);
	border-radius: 0px;
}

#ammoVal, #curGameInfo, #timerVal, #healthValue, #reloadMsg {
	color: var(--accent2) !important;
}

#killsVal, #deathsVal, #streakVal, #myScoreVal, .weapKey, #fpsDisplay, #ingressDisplay, #egressDisplay, #pingText, #ingressPacketCount, #ingressDataSize, #egressPacketCount, #egressDataSize, #curGameInfo div, .tScoreT, #voteKickNum, #voteKickName, #voteKickKeys {
	color: var(--hud-text-color) !important;
}

#pingIcon {
	display: none;
}

#pingText::after{
	content: " ms";
}

#voiceDisplay {
	display: none;
}
#ingameFPS {
	color: var(--accent2) !important;
}

#voteKickKeys span {
	color: var(--votekick-keys-color) !important;
}

.partyAvatar {
	border-color: var(--accent);
}

.partyAvatar.ready {
	border-color: var(--accent2);
}

.chatMsg span[style*='color:#eb5656'] {
	color: rgb(243, 33, 33) !important;
}
.chatMsg span[style*='color: #9eeb56'] {
	color: rgb(33, 150, 243) !important;
}

.chatMsg span[style*='color:#fff'] {
	color: var(--accent2) !important;
}

.menuItem {
	background: var(--accent) !important;
}

.headerBar {
	background-color: rgba(50,50,50,0.6) !important;
}

#instructions {
	color: var(--accent2) !important;
}

.progressBar {
	background-color: var(--accent) !important;
}

.menuItem:hover {
	background: rgba(255,255,255, 0.7) !important;
}

.menuItem .menuItemTitle {
	color: var(--accent2) !important;
}

#menuFPS {
	color: var(--accent2) !important;
}

#mapInfo {
	color: rgba(255, 255, 255, 1) !important;
	display: block !important;
}

.terms {
	color: white;
}

.standout {
	display: none;
}

.tScoreC {
	background-color: var(--accent3) !important;
}

.tScoreC.you {
	background-color: var(--accent2) !important;
}

#gameNameHolder {
	display: var(--show-logo) !important;
}

.classCard {
	color: var(--accent2) !important;
}

.classWeap {
	color: var(--accent4) !important;
}

.classHP {
	color: var(--accent2) !important;
}

.classHP span {
	color: var(--class-hp-unit-color) !important;
}

.classLvl {
	color: var(--accent2) !important;
}

.clsXPBarC {
	background-color: var(--class-progress-bar-color) !important;
}

.classXPBar {
	background-color: var(--accent3) !important;
}

.rankedType, .rankedELOTxt {
	color: var(--accent2) !important;
}

.menuTabsNew {
	background-color: var(--profile-tabs-background-color);
}

.tabANew {
	box-shadow: inset 0 -5px var(--profile-tabs-selected-highlight-color);
}

.menuTabNew:hover {
	box-shadow: inset 0 -5px var(--profile-tabs-hover-highlight-color);
}

span[style*='color: rgba(0, 0, 0, 0.8)'], .menuTabNew {
	color: var(--accent) !important;
}

.settName, .settNameSmall, span[style*='color: rgba(0, 0, 0, 0.5)'], #accResp, #requiresRestart {
	color: var(--accent) !important;
}

.headerBarRight {
	border-radius: 0 0 0 5;
}

.headerBarLeft {
	border-radius: 0 0 0 5;
}

#uiBase.onMenu #chatHolder {
	transition: width 5s, height 1s;
}

#chatHolder {
	width:150px;
	transform: translateY(-200px);
}

#mainLogo {
	display: none;
}

#aHolder,
.endAHolder,
#mainLogo,
#merchImg,
#seasonLabel,
#onetrust-consent-sdk,
#braveWarning,
#youNewDiv,
#newsHolder {
    display: none !important;
}

.menuClassPlayerName {
	color: var(--accent2);
}

#leaderContainer i[style*="color:#FBC02D"] {
	color: var(--accent4) !important;
}

#leaderContainer i[style*="color:#40C4FF"] {
	color: rgba(0,0,0,0) !important;
}

.menuClassPlayerPremium {
	color: var(--accent3) !important;
}

.menuClassPlayerVerified {
	color: var(--accent4) !important;
}

#menuPingText, #menuFPSDisplay {
	color: var(--accent4);
}

.headerBar div {
	color: var(--accent2);
}

#menuKRCount {
	color: var(--accent4);
}

#mLevelCont {
	color: var(--accent2);;
	background-color: var(--accent);
}

.settingsBtn {
	color: var(--accent);
	background-color: var(--input);
}

.menuItem {
	transition: all .2s;
	-webkit-transition:all .2s;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	pointer-events: all;
	cursor: pointer;
	background: transparent;
	border-radius: 0px;   
	padding: 22px;
	padding-bottom: 12px;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 22px!important;
	margin-left: 6px;
	margin-right: 6px;
}

.menuItem .menuItemIcon {
position:relative;
width:100%;
height:45%;
background-size:contain;
background-position:center;
background-repeat:no-repeat;
display: none;
}

/*customize*/
#menuClassContainer {
	right: 5%;
	transform: translateX(50%);
	top: 40%;
	bottom: unset;
}
#menuClassNameTag {
	display: none;
}
#menuClassName, #menuClassSubtext {
	text-shadow: none !important;
}
#customizeButton {
	background: transparent !important;
	box-shadow: inset rgba(0, 0, 0, 0.75) !important;
	font-size: 28px;
	padding-top: 8px;
}
#customizeButton .material-icons {
	display: none;
}
#classPreviewCanvas {
	display: none;
}
#bubbleContainer {
	display: none;
}
#loadoutSelect {
	width: 32px;
}
#loadoutSelect {
	width: 32px;
}
.loadoutBtn {
	background-color: var(--accent);
}

#uiBase.onMenu #merchHolder {
	display: none;
	background: none;
}
#uiBase.onMenu #claimHolder {
	left: 20px;
	top: 54px;
}
#uiBase.onMenu #spectButton {
	top: 20%;
	left: 50%;
}

.headerBar {
	background-color: transparent;
}

.imageButton {
	background: transparent;
}


#merchImg {
	display: none;
}

#merchImg:active {
	display: none;
}


::-webkit-scrollbar {
	display: none;
}
a {
	color: var(--accent) !important;
}
.bigShadowT {
	text-shadow: none !important;
}
#aHolder {
	display: none !important;
}
#endAHolderR {
	display: none !important;
}
#endAHolderL {
	display: none !important;
}

.headerBarRight {
	display: none;
}

.endTableN[style*="color:#fff"] {
	color: #fff !important;
	text-decoration: underline !important;
}
.endTableN[style*="color:rgba(255,255,255,0.6)"] {
	color: rgba(255,255,255,0.6) !important;
}
#endTable i[style*="color:#FBC02D"] {
	color: #FBC02D !important;
}

.leaderName, .newLeaderName, .newLeaderNameF, .endTableN[style*="color:#eb5656"] {
		color: #eb5656 !important;
}

#curGameInfo {
	display: none;
}

#maxHp {
	display: none;
}

#newsHolder {
	display: none !important;
}

#streamContainer {
	display: none !important;
}

#ammoDisplay {
	background-color: transparent !important;
	color: rgb(0,0,0);
	letter-spacing: 0;
	width: 50px;
	height: 20px;
	border-radius: 10px;
	position: fixed;
	padding: 2px;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0px;
	transform: none;
	top: calc(50% + 35px);
	left: calc(50% - 30px);
}

#ammoVal {
	position: fixed;
	font-size: 45px;
	right: 2%;
	bottom: 13%;
}

#ammoMax {
	display: none;
}


/* health bar + hud image*/

#healthValueHolder {
    transform: translateY(-13px) translateX(40px) rotate(-8deg);
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0px;
	display:inline-block;
	border-radius:0px;
	padding:3px;
	margin-bottom:9px;
	padding-right:7px;
	padding-left:9px;
	padding-top: 9px;
}

#hudClassIcon {
	transform: translateY(-40px) translateX(35px);
	border-radius: 50px;
	background-color: rgba(0,0,0,.7);
	height: 80px;
	width: 80px;
	bottom: 0%;
	left: 0%;
}

.playerHealth {  
	position: absolute;
	display:inline-block;
	margin:0;
	text-align:left;
	background-color:rgba(0,0,0,0.1)
}

#healthBar {
	position: absolute;
    transform: translateY(-135px) translateX(40px) rotate(-8deg);
	display: inline-block;
	z-index: 3;
	height: 50px;
	width: 300px;
	display: inline-flex;
	border-radius: 15px;
	justify-content: center;
}

.healthBarSeg {
	width: 80px;
	margin-right: 10px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.3);  
}

.hpBSeg {
	border-radius: 4px;
	background-color: rgba(0,0,0,0);
	/* box-shadow: inset 0 -10px 0 0 rgba(0,0,0,0); */
}

/* weap display */

#weapDisplay {
	display: flex !important;
	flex-direction: row !important;
	bottom: 20px;
	right: 20px;
	padding-top: 13px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: rgba(255,255,255,0.5);
}