	:root {		
		--accent: rgba (0, 0, 0, 0);
		--menu-background-color: rgba(0, 0, 0, 0.75);
		--menu-hover-background-color: rgb(248, 197, 92);
		--home-menu-text-color: rgb(255, 255, 255);
		--topbar-background-color: rgba(0, 0, 0, 0.5);
		--topbar-text-color: rgb(255, 255, 255);
		--topbar-light-text-color: rgba(255, 255, 255, 0.6);
		--topbar-level-background-color: rgba(0, 0, 0, 0.8);
		--top-bar-roundness: 8px;
		--menu-fps-color: rgb(158, 235, 86);
		--topbar-counters-text-color: rgba(255, 255, 255, 0.75);
		--home-progress-bar: rgb(33, 150, 243);
		--home-progress-bar-background: rgba(0, 0, 0, 0.75);
		--mapinfo-color: rgb(255, 255, 255);
		--mapinfo-display: block;
		--terms-color: rgb(86, 153, 235);
		--advertise-color: rgba(0, 0, 0, 0.8);
		--legal-links-display: block;
		--menu-player-name-color: rgb(255, 255, 255);
		--home-premium-color: rgb(251, 192, 45);
		--home-verified-color: rgb(64, 196, 255);
		--instructions-color: rgba(255, 255, 255, 0.8);
		--show-logo: flex;
		--logo-size: 225.00000000000003px;
		--show-menu-profile-pic: block;
		--level-icon-display: block;
		--buy-kr-button-display: block;
		--social-buttons-display: block;
		--active-streams-display: block;
		--free-kr-display: block;
		--merch-button-display: block;
		--menu-background: rgb(255, 255, 255);
		--menu-shadow: rgb(166, 166, 166);
		--menu-roundness: 6px;
		--menu-text-color: rgb(53, 53, 53);
		--menu-light-text-color: rgba(0, 0, 0, 0.5);
		--slider-background: rgb(168, 168, 168);
		--slider-thumb-color: rgb(0, 0, 0);
		--switch-thumb: rgb(255, 255, 255);
		--input-text: rgb(255, 255, 255);
		--input-field: rgb(238, 238, 238);
		--input-field-placeholder: rgb(238, 238, 238);
		--input-field-text: rgb(53, 53, 53);
		--scrollbar: rgb(134, 134, 134);
		--scrollbar-track: rgb(240, 240, 240);
		--link: rgb(115, 115, 115);
		--ranked-ready: rgb(69, 69, 69);
		--ranked-ready-shadow: rgb(255, 255, 255);
		--ranked-unready: rgb(133, 133, 133);
		--ranked-unready-shadow: rgb(0, 0, 0);
		--ranked-ready-border-color: rgb(2, 53, 241);
		--ranked-unready-border-color: rgba(0, 0, 0, 0.2);
		--ranked-text: rgb(255, 255, 255);
		--presets-display: inline-block;
		--input: rgb(15, 15, 15);
		--profile-tabs-background-color: rgba(0, 0, 0, 0.12);
		--profile-tabs-selected-highlight-color: rgba(0, 0, 0, 0.7);
		--profile-tabs-selected-hover-color: rgba(0, 0, 0, 0.2);
		--progress-bar-filled: rgb(33, 150, 243);
		--progress-bar-unfilled: rgb(36, 36, 36);
		--progress-bar-text: rgb(255, 255, 255);
		--timer-icon-display: none;
		--health-icon-display: none;
		--ammo-icon-display: none;
		--hud-background-color: rgba(0, 0, 0, 0.1);
		--hud-text-color: rgba(255, 255, 255, 0.7);
		--hud-bold-text-color: rgb(255, 255, 255);
		--hud-roundness: 0px;
		--leaderboard-me-color: rgb(255, 255, 255);
		--leaderboard-team-color: rgba(255, 255, 255, 0.6);
		--leaderboard-enemy-color: rgb(235, 86, 86);
		--leaderboard-clan-color: rgb(255, 255, 255);
		--leaderboard-verified-clan-color: rgb(251, 192, 45);
		--premium-color: rgb(251, 192, 45);
		--verified-color: rgb(64, 196, 255);
		--enemy-score-color: rgb(74, 74, 74);
		--team-score-color: rgb(255, 255, 255);
		--fps-color: rgb(158, 235, 86);
		--ping-color: rgb(158, 235, 86);
		--votekick-keys-color: rgb(251, 192, 45);
		--health-bar-roundness: 0px;
		--main-button-color: rgba(49, 202, 236, 0);
		--main-button-shadow-color: rgba(138, 138, 138, 0.22);
		--main-button-hover-color: rgb(255, 255, 255);
		--main-button-hover-shadow-color: rgb(179, 179, 179);
		--main-button-text-color: rgb(255, 255, 255);
		--main-button-corner-roundness: 2.896551724137931px;
		--secondary-button: rgb(54, 54, 54);
		--secondary-button-hover: rgb(0, 0, 0);
		--secondary-button-text: rgb(255, 255, 255);
		--secondary-button-roundness: 0px;
		--chat-background-color: rgba(0, 0, 0, 0.2);
		--chat-input-background-color: rgba(0, 0, 0, 0.4);
		--chat-text-color: rgba(255, 255, 255, 0.7);
		--chat-bold-text-color: rgb(255, 255, 255);
		--chat-you-color: rgb(255, 255, 255);
		--chat-team-color: rgb(209, 210, 209);
		--chat-enemy-color: rgb(47, 46, 46);
		--chat-leave-text-color: rgb(252, 3, 236);
		--chat-mic-display: none;
		--chat-roundness: 0px;
		--chat-input-roundness: 0px;
		--chat-animate: none;
		--class-name-color: rgb(255, 255, 255);
		--class-weapon-color: rgba(255, 255, 255, 0.7);
		--class-hp-value-color: rgb(255, 255, 255);
		--class-hp-unit-color: rgb(134, 132, 132);
		--class-level-color: rgb(255, 255, 255);
		--class-progress-bar-color: rgb(33, 150, 243);
		--class-progress-bar-background-color: rgb(36, 36, 36);
	}

	* {
		color: var(--menu-text-color);
	}

	.progressBarInner {
		background: var(--home-progress-bar) !important;
	}

	.imageButton {
		display: var(--social-buttons-display) !important;
	}

	.headerBarRight .verticalSeparator {
		display: none !important;
	}

	#streamContainer {
		display: var(--active-streams-display) !important;
	}

	#claimHolder {
		display: var(--free-kr-display) !important;
	}

	#merchHolder {
		display: var(--merch-button-display) !important;
	}

	#mapInfo + div {
		display: var(--legal-links-display) !important;
	}

	.button {
		background-color: var(--main-button-color) !important;
		box-shadow: inset 0 -7px 0 0 var(--main-button-shadow-color) !important;
		color: var(--main-button-text-color) !important;
		border-radius: var(--main-button-corner-roundness) !important;
	}

	.button:hover {
		background-color: var(--main-button-hover-color) !important;
		box-shadow: inset 0 -7px 0 0 var(--main-button-hover-shadow-color) !important;
	}

	.accountButton {
		background-color: var(--secondary-button) !important;
		color: var(--secondary-button-text) !important;
		border-radius: var(--secondary-button-roundness) !important;
	}

	.accountButton:hover {
		background-color: var(--secondary-button-hover) !important;
	}

	.mapLoadButton {
		background-color: var(--secondary-button) !important;
		color: var(--secondary-button-text) !important;
		border-radius: var(--secondary-button-roundness) !important;
	}

	.mapLoadButton:hover {
		background-color: var(--secondary-button-hover) !important;
	}

	.updDisN {
		background-color: var(--secondary-button) !important;
		color: var(--secondary-button-text) !important;
		border-radius: var(--secondary-button-roundness) !important;
	}

	.updDisN:hover {
		background-color: var(--secondary-button-hover) !important;
		transform: none;
	}

	.subPassChg {
		background-color: var(--secondary-button) !important;
		color: var(--secondary-button-text) !important;
		border-radius: var(--secondary-button-roundness) !important;
	}

	.subPassChg:hover {
		background-color: var(--secondary-button-hover) !important;
		transform: none;
	}

	.creatorCodeBtn {
		background-color: var(--secondary-button) !important;
		color: var(--secondary-button-text);
		border-radius: var(--secondary-button-roundness) !important;
	}

	.creatorCodeBtn:hover {
		background-color: var(--secondary-button-hover) !important;
		filter: none !important;
	}

	.redVouchBtn {
		background-color: var(--secondary-button) !important;
		color: var(--secondary-button-text) !important;
		border-radius: var(--secondary-button-roundness) !important;
	}

	.creatorCodeBtn:hover {
		background-color: var(--secondary-button-hover) !important;
	}

	.hostToggle {
		background-color: var(--secondary-button) !important;
		color: var(--secondary-button-text) !important;
		border-radius: var(--secondary-button-roundness) !important;
	}

	.hostToggle:hover {
		background-color: var(--secondary-button-hover) !important;
	}

	.hostPresetBtn {
		background-color: var(--secondary-button) !important;
		color: var(--secondary-button-text) !important;
		border-radius: var(--secondary-button-roundness) !important;
	}

	.hostPresetBtn:hover {
		color: var(--secondary-button-text) !important;
		background-color: var(--secondary-button-hover) !important;
	}

	.quickJoin {
		background-color: var(--secondary-button) !important;
		color: var(--secondary-button-text) !important;
		border-radius: var(--secondary-button-roundness) !important;
	}

	.quickJoin:hover {
		background-color: var(--secondary-button-hover) !important;
	}

	.searchBtn {
		background-color: var(--secondary-button) !important;
		color: var(--secondary-button-text) !important;
		border-radius: var(--secondary-button-roundness) !important;
	}

	.searchBtn:hover {
		background-color: var(--secondary-button-hover) !important;
		transform: none !important;
		filter: none !important;
	}

	.joinQueue {
		color: var(--ranked-text) !important;
		background-color: var(--ranked-ready) !important;
		box-shadow: inset 0 -10px 0 0 var(--ranked-ready-shadow) !important;
	}

	.joinQueue:hover {
		box-shadow: inset 0 -7px 0 0 var(--ranked-ready-shadow) !important;
	}

	.jQR {
		background-color: var(--ranked-unready) !important;
		box-shadow: inset 0 -10px 0 0 var(--ranked-unready-shadow) !important;
	}

	.jQR:hover {
		box-shadow: inset 0 -7px 0 0 var(--ranked-unready-shadow) !important;
	}

	.krSocial {
		display: var(--buy-kr-button-display) !important;
	}

	#menuLevelIcon {
		display: var(--level-icon-display) !important;
	}

	.sliderVal {
		color: var(--input-text) !important;
		background: var(--input) !important;
	}

	.sliderM {
		background-color: var(--slider-background) !important;
	}

	.sliderM::-webkit-slider-thumb {
		background-color: var(--input) !important;
	}

	input:checked+.slider {
		background-color: var(--input) !important;
	}

	.slider:before {
		background-color: var(--switch-thumb) !important;
	}

	input:checked+.optCheck {
		background-color: var(--input) !important;
	}

	.xpBar {
		background-color: rgba(0,0,0,0) !important;
	}

	.xpBarB {
		background-color: var(--progress-bar-filled) !important;
	}

	.xpBarV {
		color: var(--progress-bar-text) !important;
	}

	.inputGrey2 {
		background: var(--input-field) !important;
		color: var(--input-field-text) !important;
	}

	.inputGrey2::placeholder {
		color: var(--input-field-placeholder) !important;
	}

	.formInput {
		background: var(--input-field) !important;
	}

	.formInput::placeholder {
		color: var(--input-field-placeholder) !important;
	}

	#passCode {
		background: var(--input-field) !important;
	}

	#passCode::placeholder {
		color: var(--input-field-placeholder) !important;
	}

	#presetSelect {
		background: var(--input-field) !important;
	}

	#presetSelect::placeholder {
		color: var(--input-field-placeholder) !important;
	}

	#customSnameTeam1 {
		background: var(--input-field) !important;
	}

	#customSnameTeam1::placeholder {
		color: var(--input-field-placeholder) !important;
	}

	#customSnameTeam2 {
		background: var(--input-field) !important;
	}

	#customSnameTeam2::placeholder {
		color: var(--input-field-placeholder) !important;
	}

	.sliderM::-webkit-slider-thumb {
		background-color: var(--slider-thumb-color) !important;
	}

	::-webkit-scrollbar-track {
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 0;
		background-color: var(--scrollbar-track) !important;
	}

	.webkit-scrollbar {
		display: none;
	}

	::-webkit-scrollbar-thumb {
		background: var(--scrollbar) !important;
	}

	#menuWindow {
		background-color: var(--menu-background) !important;
		box-shadow: 0 9px 0 0 rgba(0,0,0,0) !important;
		border-radius: var(--menu-roundness) !important;
	}

	.serverHeader {
		background-color: var(--menu-background) !important;
		border-radius: var(--menu-roundness) !important;
	}

	.settingsHeader {
		background-color: var(--menu-background) !important;
		border-radius: var(--menu-roundness) !important;
	}

	.settingPreset {
		display: var(--presets-display) !important;
	}

	#timerIcon {
		display: none !important;
	}

	#challIcon {
		display: none !important;
	}

	#ammoIcon {
		display: none !important;
	}

	a {
		color: var(--link);
	}

	a:visited {
		color: var(--link);
	}

	a:active {
		color: var(--link);
	}

	.chatItem {
		color: var(--chat-bold-text-color) !important;
		background-color: rgba(0,0,0,0) !important;
		border-radius: var(--chat-roundness);
		left: 0% !important;
		margin: 0;
	}

	#voiceDisplay {
		display: var(--chat-mic-display) !important;
	}

	#chatInput {
	    display: none;
	    background-color: transparent;
		color: var(--chat-text-color) !important;
		border-radius: var(--chat-input-roundness);
		left: 0% !important;
		margin: 6 px;
	}

	.chatMsg[style*='color: #fc03ec'] {
		color: var(--chat-leave-text-color) !important;
	}

	.leaderName, .newLeaderName, .newLeaderNameF, .endTableN[style*='color: #eb5656;'] {
		color: var(--leaderboard-enemy-color) !important;
	}

	.leaderName span, .newLeaderName span, .leaderNameM span, .newLeaderNameM span, .leaderNameF span, .newLeaderNameF span {
		color: var(--leaderboard-clan-color) !important;
	}

	.leaderName span[style*='color:#FBC02D'], .newLeaderName span[style*='color:#FBC02D'], .leaderNameM span[style*='color:#FBC02D'], .newLeaderNameM span[style*='color:#FBC02D'], .newLeaderNameF span[style*='color:#FBC02D'] {
		color: var(--leaderboard-verified-clan-color) !important;
	}

	.leaderNameM, .newLeaderNameM, .endTableN[style*='color: #fff;'] {
		color: var(--leaderboard-me-color) !important;
	}

	.leaderNameF, .newLeaderNameF, .endTableN[style*='color: rgba(255,255,255,0.6);'] {
		color: var(--leaderboard-team-color) !important;
	}

	.countIcon, #leaderDisplay, #ammoDisplay, #timerDisplay, #teamScores, #voteToKick, #hudClassIcon {
		background-color: var(--hud-background-color) !important;
		border-radius: var(--hud-roundness);
	}

	#ammoVal {
		color: white;
		background-color: transparent;
	}
	
	#curGameInfo, #timerVal, #reloadMsg {
		color: var(--hud-bold-text-color) !important;
	}

	#killsVal, #deathsVal, #streakVal, #myScoreVal, #ammoMax, .weapKey, #fpsDisplay, #ingressDisplay, #egressDisplay, #pingText, #ingressPacketCount, #ingressDataSize, #egressPacketCount, #egressDataSize, #curGameInfo div, .tScoreT, #voteKickNum, #voteKickName, #voteKickKeys, #maxHP {
		color: var(--hud-text-color) !important;
	}

	.weapKey {
		display: none;
	}

	#ingameFPS {
		color: var(--fps-color) !important;
	}

	#voteKickKeys span {
		color: var(--votekick-keys-color) !important;
	}

	.partyAvatar {
		border-color: var(--ranked-unready-border-color);
	}

	.partyAvatar.ready {
		border-color: var(--ranked-ready-border-color);
	}

	#chatInput {
		background-color: var(--chat-input-background-color) !important;
	}

	.chatMsg span[style*='color:#eb5656'] {
		color: #eb5656a4 !important;
	}
	.chatMsg span[style*='color: #9eeb56'] {
		color: var(--chat-team-color) !important;
	}

	.chatMsg span[style*='color:#fff'] {
		color: var(--chat-you-color) !important;
	}

	.menuItem {
		background: var(--menu-background-color) !important;
	}

	.headerBar {
		background-color: var(--topbar-background-color) !important;
	}

	#instructions {
		color: var(--instructions-color) !important;
	}

	.progressBar {
		background-color: var(--home-progress-bar-background) !important;
	}

	.menuItem:hover {
		background: var(--menu-hover-background-color) !important;
	}

	.menuItem .menuItemTitle {
		color: var(--home-menu-text-color) !important;
	}

	#menuFPS {
		color: var(--menu-fps-color) !important;
	}

	#mapInfo {
		color: var(--mapinfo-color) !important;
		display: var(--mapinfo-display) !important;
	}

	.terms {
		color: var(--terms-color) !important;
	}

	.standout {
		color: var(--advertise-color) !important;
	}

	.tScoreC {
		background-color: var(--enemy-score-color) !important;
	}

	.tScoreC.you {
		background-color: var(--team-score-color) !important;
	}

	#gameNameHolder {
		display: var(--show-logo) !important;
	}

	.classCard {
		color: var(--class-name-color) !important;
	}

	.classWeap {
		color: var(--class-weapon-color) !important;
	}

	.classHP {
		color: var(--class-hp-value-color) !important;
	}

	.classHP span {
		color: var(--class-hp-unit-color) !important;
	}

	.classLvl {
		color: var(--class-level-color) !important;
	}

	.clsXPBarC {
		background-color: var(--class-progress-bar-color) !important;
	}

	.classXPBar {
		background-color: var(--class-progress-bar-background-color) !important;
	}

	.rankedType, .rankedELOTxt {
		color: var(--ranked-text) !important;
	}

	.menuTabsNew {
		background-color: var(--profile-tabs-background-color);
	}

	.tabANew {
		box-shadow: inset 0 -5px var(--profile-tabs-selected-highlight-color);
	}

	.menuTabNew:hover {
		box-shadow: inset 0 -5px var(--profile-tabs-hover-highlight-color);
	}

	span[style*='color: rgba(0, 0, 0, 0.8)'], .menuTabNew {
		color: var(--menu-text-color) !important;
	}

	.settName, .settNameSmall, span[style*='color: rgba(0, 0, 0, 0.5)'], #accResp, #requiresRestart {
		color: var(--menu-light-text-color) !important;
	}

	.hpBSeg {
		height: 100%;
		background-color: transparent;
		border-radius: 0px;
	}


	.headerBarRight {
		border-radius: 0 0 0 var(--top-bar-roundness);
	}

	.headerBarLeft {
		border-radius: 0 0 var(--top-bar-roundness) 0;
	}

	#uiBase.onMenu #chatHolder {
		transition: var(--chat-animate);
	}

	#chatHolder {
		position:absolute;
		z-index:1000;
		width:280px;
		bottom:20px;
		left:20px
	}

	#mainLogo {
		height: var(--logo-size);
	}

	.menuClassPlayerName {
		color: var(--menu-player-name-color);
	}

	#leaderContainer i[style*="color:#FBC02D"] {
		color: var(--premium-color) !important;
	}

	#leaderContainer i[style*="color:#40C4FF"] {
		color: var(--verified-color) !important;
	}

	.menuClassPlayerPremium {
		color: var(--home-premium-color) !important;
	}

	.menuClassPlayerVerified {
		color: var(--home-verified-color) !important;
	}

	#menuPingText, #menuFPSDisplay {
		color: var(--topbar-counters-text-color);
	}

	.headerBar div {
		color: var(--topbar-text-color);
	}

	#menuKRCount {
		color: var(--topbar-light-text-color);
	}

	#mLevelCont {
		color: var(--topbar-text-color);;
		background-color: var(--topbar-level-background-color);
	}

	.settingsBtn {
		color: var(--input-text);
		background-color: var(--input);
	}

	@font-face {
		font-family:gamefont;
		src:url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2)
	}

	#streamContainer {
		display: none !important;
	}

	#streamItem {
		display: none;
	}

	.menuItem {
		transition: all .2s;
		-webkit-transition:all .2s;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		pointer-events: all;
		cursor: pointer;
		background: transparent;
		border-radius: 0px;   
		padding: 22px;
		padding-bottom: 12px;
		margin-left: 8px;
		margin-right: 8px;
		font-size: 22px!important;
		margin-left: 6px;
		margin-right: 6px;
	}

	.menuItem .menuItemIcon {
	position:relative;
	width:100%;
	height:45%;
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
	display: none;
	}

	/*customize*/
	#menuClassContainer {
		right: 5%;
		transform: translateX(50%);
		top: 10%;
		bottom: unset;
	}
	#menuClassNameTag {
		display: none;
	}
	#menuClassName, #menuClassSubtext {
		text-shadow: none !important;
	}
	#customizeButton {
		background: transparent !important;
		box-shadow: unset !important;
		border-top: 8px solid var(--accent);
		font-size: 28px;
		padding-top: 8px;
	}
	#customizeButton .material-icons {
		display: none;
	}
	#classPreviewCanvas {
		display: none;
	}
	#bubbleContainer {
		display: none;
	}
	#loadoutSelect {
		width: 32px;
	}
	#loadoutSelect {
		width: 32px;
	}
	.loadoutBtn {
		background-color: var(--accent);
	}

	#uiBase.onMenu #merchHolder {
		display: none;
		background: none;
	}
	#uiBase.onMenu #claimHolder {
		left: 20px;
		top: 54px;
	}
	#uiBase.onMenu #spectButton {
		top: 10%;
		left: 10%;
	}
	#streamContainer {
		display: none;
	}
	.headerBar {
		background-color: transparent;
	}

	#mainLogo {
		display: none;
	}

	.imageButton {
		background: transparent;
	}


	#merchImg {
		display: none;
	}

	#merchImg:active {
		display: none;
	}


	::-webkit-scrollbar {
		display: none;
	}
	a {
		color: var(--accent) !important;
	}
	.bigShadowT {
		text-shadow: none !important;
	}
	#aHolder {
		display: none !important;
	}
	#endAHolderR {
		display: none !important;
	}
	#endAHolderL {
		display: none !important;
	}

	.headerBarRight {
		display: none;
	}

	.endTableN[style*="color:#fff"] {
		color: #fff !important;
		text-decoration: underline !important;
	}
	.endTableN[style*="color:rgba(255,255,255,0.6)"] {
		color: rgba(255,255,255,0.6) !important;
	}
	#endTable i[style*="color:#FBC02D"] {
		color: #FBC02D !important;
	}

	.leaderName, .newLeaderName, .newLeaderNameF, .endTableN[style*="color:#eb5656"] {
			color: #eb5656 !important;
	}

	#curGameInfo {
		display: none;
	}

	#hudClassIcon {
		display: none;
	}

	#healthValueHolder {
		background-color: transparent;
		width: 100px;
		height: 65px;
		border-radius: 0;
		position: fixed;
		left: 30%;
		bottom: 25%;
		padding: 0;
		margin-bottom: 0;
		padding-right: 0;
		padding-left: 0;
		align-items: center;
	}

	.hpBSeg {
		display: none;
	}

	#healthBar {
		display: none;
	}
		
	#healthValue {
		color: rgb(0, 255, 21);
		font-size: 60px;
		text-align: center;
		text-shadow: 2px 2px 3px rgba(30, 30, 30, .1);
		margin-top: 0;
		will-change: unset;
	}
	
	#maxHP {
		display: none;
	}