@import url('https://frogguman.github.io/frog.css');

:root {
	--accent-color: #00ff4c;
	--health-color: var(--accent-color);
	--ammo-color: #fff;
	--premium-color: #fbc02d;
	--verified-color: #40c4ff;
	--menu-bg-color: rgba(15, 15, 15, .2);
	--menu-bg-color-secondary: rgba(0, 0, 0, .5);
	--ingame-bg-color: rgba(15, 15, 15, .2);
	--text-transform: lowercase;
}

@font-face {
	font-family: gamefont;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2);
}

@font-face {
	font-family: hpammo;
	src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2);
}